<div class="watchs_section layout_padding">
    <div class="container">
      <h1 class="watchs_taital">01<br>ساعت های ما</h1>
      <div class="watchs_section_2">
        <div class="row">
          <div class="col-md-6">
            <div class="image_1"><img src="assets/images/img-1.png"></div>
          </div>
          <div class="col-md-6">
            <h4 class="uni_text">ساعت اسپکترا کرونو</h4>
            <p class="watchs_text">ساعت اسپکترا کرونو با طراحی مدرن و عملکرد دقیق، انتخابی عالی برای افراد پرمشغله و
              علاقه‌مندان به سبک‌های کلاسیک است. با بند چرمی با کیفیت بالا و صفحه نمایش شفاف، این ساعت ترکیبی از زیبایی
              و عملکرد را ارائه می‌دهد</p>
            <h4 class="rate_text"><span style="color: #b60213;">تومان</span>150,000</h4>
            <div class="read_bt1"><a href="#">خرید کنید</a></div>
          </div>
        </div>
      </div>
      <div class="watchs_section_3">
        <div class="row">
          <div class="col-md-6">
            <h4 class="uni_text">ساعت لومینس نایت</h4>
            <p class="watchs_text">ساعت لومینس نایت با ویژگی‌های نورانی برای شب و طراحی مقاوم در برابر آب، مناسب برای
              ماجراجویان و افراد فعال است. این ساعت دارای قاب استیل ضد زنگ و بند سیلیکونی با دوام است که راحتی و استحکام
              را به همراه دارد</p>
            <h4 class="rate_text"><span style="color: #b60213;">تومان</span>100,000</h4>
            <div class="read_bt1"><a href="#">خرید کنید</a></div>
          </div>
          <div class="col-md-6">
            <div class="image_2"><img src="assets/images/img-2.png"></div>
          </div>
        </div>
      </div>
      <div class="seemore_bt"><a href="#">بیشتر</a></div>
    </div>
  </div>
