<div class="background_bg">

  <div class="contact_section layout_padding">
    <div class="container">
      <h1 class="watchs_taital">04<br>با ما در ارتباط باشید</h1>
    </div>
    <div class="contact_section_2">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="mail_section_1">
              <input type="text" class="mail_text" placeholder="نام" name="Your Name">
              <input type="text" class="mail_text" placeholder="شماره تلفن" name="Phone Number">
              <input type="text" class="mail_text" placeholder="ایمیل" name="Email">
              <textarea class="massage-bt" placeholder="پیام" rows="5" id="comment" name="Massage"></textarea>
              <div class="send_bt"><a href="#">ارسال</a></div>
            </div>
          </div>
          <div class="col-md-6 padding_right_0">
            <div class="map_section"><img src="assets/images/map-img.png"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
