<div class="background_bg">
  <div class="about_section layout_padding">
    <div class="container">
      <h1 class="watchs_taital">02<br>در مورد فروشگاه</h1>
      <div class="about_section_2">
        <div class="row">
          <div class="col-md-6">
            <p class="about_text">به فروشگاه آنلاین ساعت‌های لوکس و مدرن ما خوش آمدید! ما مفتخریم که مجموعه‌ای بی‌نظیر
              از ساعت‌های شیک و با کیفیت را به شما ارائه دهیم. در اینجا می‌توانید انواع ساعت‌های مردانه و زنانه را با
              طراحی‌های متنوع و جذاب پیدا کنید.

              ما به اصالت و کیفیت محصولاتمان اهمیت زیادی می‌دهیم و هر یک از ساعت‌های موجود در فروشگاه ما با دقت و توجه
              ویژه‌ای انتخاب شده‌اند تا شما بتوانید با اطمینان خاطر خرید کنید. با توجه به نیازها و سلیقه‌های مختلف
              مشتریان، ما انواع ساعت‌های کلاسیک، اسپرت، دیجیتال و هوشمند را در مجموعه خود داریم.</p>
            <div class="read_bt1"><a href="#">Buy Now</a></div>
          </div>
          <div class="col-md-6">
            <div class="image_2"><img src="assets/images/img-3.png"></div>
          </div>
        </div>
      </div>
      <div class="about_section_3">
        <div class="row">
          <div class="col-md-3">
            <div class="border_main">
              <div class="image_4"><img src="assets/images/img-4.png"></div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="border_main">
              <div class="image_4"><img src="assets/images/img-5.png"></div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="border_main">
              <div class="image_4"><img src="assets/images/img-6.png"></div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="border_main">
              <div class="image_4"><img src="assets/images/img-7.png"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
