<div class="testimonial_section layout_padding">
    <div class="container">
      <h1 class="watchs_taital">03<br>نظرات مشتریان</h1>
      <div class="testimonial_section_2">
        <div class="row">
          <div class="col-md-6">
            <div class="box_main">
              <p class="testimonial_text">من از خرید ساعت اسپکترا کرونو از این فروشگاه بسیار راضی هستم. کیفیت بالای
                محصولات و خدمات مشتری عالی باعث شده تا این فروشگاه را به همه دوستانم توصیه کنم. طراحی زیبا و عملکرد
                بی‌نقص این ساعت، تجربه‌ای فوق‌العاده برای من ایجاد کرده است.</p>
            </div>
            <div class="client_main">
              <div class="client_left">
                <div class="client_img"><img src="assets/images/client-img.png"></div>
              </div>
              <div class="client_right">
                <h6 class="client_name">محمد ر.</h6>
                <p class="customer_text">مشتری</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="box_main">
              <p class="testimonial_text">تجربه خرید من از این فروشگاه بسیار مثبت بود. ساعت لومینس نایت که خریداری کردم،
                دقیقاً همان چیزی بود که دنبالش بودم. با تشکر از تیم پشتیبانی که با صبر و حوصله به تمام سوالاتم پاسخ
                دادند و به من در انتخاب بهترین ساعت کمک کردند. قطعاً باز هم از این فروشگاه خرید خواهم کرد.</p>
            </div>
            <div class="client_main">
              <div class="client_left">
                <div class="client_img"><img src="assets/images/client-img1.png"></div>
              </div>
              <div class="client_right">
                <h6 class="client_name">سارا ک.</h6>
                <p class="customer_text">مشتری</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="seemore_bt_1"><a href="#">بیشتر</a></div>
    </div>
  </div>
