<div class="background_bg">

  <div class="watchs_section layout_padding">
    <div class="container">
      <h1 class="watchs_taital">01<br>ساعت های ما</h1>
      <div class="watchs_section_2">
        <div class="row">
          <div class="col-md-6">
            <div class="image_1"><img src="assets/images/img-1.png"></div>
          </div>
          <div class="col-md-6">
            <h4 class="uni_text">ساعت اسپکترا کرونو</h4>
            <p class="watchs_text">ساعت اسپکترا کرونو با طراحی مدرن و عملکرد دقیق، انتخابی عالی برای افراد پرمشغله و علاقه‌مندان به سبک‌های کلاسیک است. با بند چرمی با کیفیت بالا و صفحه نمایش شفاف، این ساعت ترکیبی از زیبایی و عملکرد را ارائه می‌دهد</p>
            <h4 class="rate_text"><span style="color: #b60213;">تومان</span>150,000</h4>
            <div class="read_bt1"><a href="#">خرید کنید</a></div>
          </div>
        </div>
      </div>
      <div class="watchs_section_3">
        <div class="row">
          <div class="col-md-6">
            <h4 class="uni_text">ساعت لومینس نایت</h4>
            <p class="watchs_text">ساعت لومینس نایت با ویژگی‌های نورانی برای شب و طراحی مقاوم در برابر آب، مناسب برای ماجراجویان و افراد فعال است. این ساعت دارای قاب استیل ضد زنگ و بند سیلیکونی با دوام است که راحتی و استحکام را به همراه دارد</p>
            <h4 class="rate_text"><span style="color: #b60213;">تومان</span>100,000</h4>
            <div class="read_bt1"><a href="#">خرید کنید</a></div>
          </div>
          <div class="col-md-6">
            <div class="image_2"><img src="assets/images/img-2.png"></div>
          </div>
        </div>
      </div>
      <div class="seemore_bt"><a href="#">بیشتر</a></div>
    </div>
  </div>

  <div class="about_section layout_padding">
    <div class="container">
      <h1 class="watchs_taital">02<br>ساعت اسپورتکس اکتیو</h1>
      <div class="about_section_2">
        <div class="row">
          <div class="col-md-6">
            <p class="about_text">ساعت اسپورتکس اکتیو با طراحی اسپرت و ویژگی‌های پیشرفته، مناسب برای ورزشکاران و افراد پرتحرک است. این ساعت دارای سنسورهای اندازه‌گیری فعالیت، مقاومت در برابر ضربه و بند نایلونی مقاوم است</p>
            <div class="read_bt1"><a href="#">خرید کنید</a></div>
          </div>
          <div class="col-md-6">
            <div class="image_2"><img src="assets/images/img-3.png"></div>
          </div>
        </div>
      </div>
      <div class="about_section_3">
        <div class="row">
          <div class="col-md-3">
            <div class="border_main">
              <div class="image_4"><img src="assets/images/img-4.png"></div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="border_main">
              <div class="image_4"><img src="assets/images/img-5.png"></div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="border_main">
              <div class="image_4"><img src="assets/images/img-6.png"></div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="border_main">
              <div class="image_4"><img src="assets/images/img-7.png"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="testimonial_section layout_padding">
    <div class="container">
      <h1 class="watchs_taital">03<br>نظرات مشتریان</h1>
      <div class="testimonial_section_2">
        <div class="row">
          <div class="col-md-6">
            <div class="box_main">
              <p class="testimonial_text">من از خرید ساعت اسپکترا کرونو از این فروشگاه بسیار راضی هستم. کیفیت بالای محصولات و خدمات مشتری عالی باعث شده تا این فروشگاه را به همه دوستانم توصیه کنم. طراحی زیبا و عملکرد بی‌نقص این ساعت، تجربه‌ای فوق‌العاده برای من ایجاد کرده است.</p>
            </div>
            <div class="client_main">
              <div class="client_left">
                <div class="client_img"><img src="assets/images/client-img.png"></div>
              </div>
              <div class="client_right">
                <h6 class="client_name">محمد ر.</h6>
                <p class="customer_text">مشتری</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="box_main">
              <p class="testimonial_text">تجربه خرید من از این فروشگاه بسیار مثبت بود. ساعت لومینس نایت که خریداری کردم، دقیقاً همان چیزی بود که دنبالش بودم. با تشکر از تیم پشتیبانی که با صبر و حوصله به تمام سوالاتم پاسخ دادند و به من در انتخاب بهترین ساعت کمک کردند. قطعاً باز هم از این فروشگاه خرید خواهم کرد.</p>
            </div>
            <div class="client_main">
              <div class="client_left">
                <div class="client_img"><img src="assets/images/client-img1.png"></div>
              </div>
              <div class="client_right">
                <h6 class="client_name">سارا ک.</h6>
                <p class="customer_text">مشتری</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="seemore_bt_1"><a href="#">بیشتر</a></div>
    </div>
  </div>

  <div class="contact_section layout_padding">
    <div class="container">
      <h1 class="watchs_taital">04<br>با ما در ارتباط باشید</h1>
    </div>
    <div class="contact_section_2">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="mail_section_1">
              <input type="text" class="mail_text" placeholder="نام" name="Your Name">
              <input type="text" class="mail_text" placeholder="شماره تلفن" name="Phone Number">
              <input type="text" class="mail_text" placeholder="ایمیل" name="Email">
              <textarea class="massage-bt" placeholder="پیام" rows="5" id="comment" name="Massage"></textarea>
              <div class="send_bt"><a href="#">ارسال</a></div>
            </div>
          </div>
          <div class="col-md-6 padding_right_0">
            <div class="map_section"><img src="assets/images/map-img.png"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<router-outlet />
