
  <div class="header_main">
    <div class="mobile_menu">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="logo_mobile"><a [routerLink]="['']" routerLinkActive="active">dfg<img src="assets/images/logo.png"></a></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">صفحه اصلی</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['about/']" routerLinkActive="active">درباره ما</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['products/']" routerLinkActive="active">محصولات</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " [routerLink]="['comments/']" routerLinkActive="active">نظرات</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " [routerLink]="['contact/']" routerLinkActive="active">ارتباط با ما</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#"><img src="assets/images/search-icon.png"></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="container-fluid">
<!--      <div class="logo"><a href="index.html"><img src="assets/images/logo.png"></a></div>-->
      <div class="menu_main">
        <ul>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['']">صفحه اصلی</a></li>
          <li routerLinkActive="active"><a [routerLink]="['/about']" >درباره ما</a></li>
          <li routerLinkActive="active"><a [routerLink]="['products/']" >ساعت ها</a></li>
          <li routerLinkActive="active"><a [routerLink]="['comments/']" routerLinkActive="active">نظرات</a></li>
          <li routerLinkActive="active"><a [routerLink]="['contact/']" routerLinkActive="active">ارتباط با ما</a></li>
          <li><a href="#"><img src="assets/images/search-icon.png"></a></li>
        </ul>
      </div>
    </div>
  </div>


